.rsvp__footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 2rem;
  letter-spacing: 10px;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  transition: color 1s, background 2s;
}

.rsvp__footer > div {
  padding: 20px 0px;
  transition: filter 500ms;
}

.info__button {
  background-color: white;
  color: black;
}

.rsvp__button {
  background: var(--red);
}

.rsvp__footer > div:hover {
  filter: invert();
}

.sending {
  animation: pulse 500ms infinite alternate;
}

@keyframes pulse {
  0% {
    background: rgb(142, 221, 14);
  }
  100% {
    background: var(--background-color);
  }
}
