body {
  overflow-x: hidden;
}

.fun-aspect {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: white;
}

.fun-aspect input {
  background: none;
  border: 3px solid white;
  width: 250px;
  height: 50px;
  position: relative;
  padding-left: 10px;
}

.fun-aspect button {
  width: 200px;
  display: block;
  font-size: 2rem;
  background: white;
  border: none;
  border-radius: 25px;
  padding: 10px;
  height: 60px;
}

.fun-aspect-heading {
  font-size: 5rem;
  margin: 20px;
  border: 4px solid white;
  padding: 14px 20px 20px 20px;
}

.fun-aspect-body {
  flex: 0 0 75%;
  /* margin: 0px auto; */
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-container {
  margin: 10px 20px;
  position: relative;
}

.floating-text {
  font-size: 1.4rem;
  position: absolute;
  user-select: none;
  pointer-events: none;
  top: 10px;
  left: 7px;
  background: #231f20;
  z-index: 9;
  transition: top 500ms;
  padding: 0px 3px;
  box-sizing: border-box;
  /* border-radius: 18px; */
}

.floating-text.active {
  top: -20px;
}

#hole {
  flex: 0 0 200px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: radial-gradient(black, white);
  margin: 80px auto;
}
